.TranslationView_wrapper__C8vfW {
    margin-right: 50px;
}

.page-progress-counter {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 45%;
    right: 10px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.page-progress-counter span {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}